#myBox {
    background-color: lightseagreen;
    width: 300px;
    height: 300px;
    font-size: 4.1rem;
    display: flex;
    align-items: center;
    text-align: center;
}

#myButton {
    font-size: 3rem;
}