body {
    font-family: Verdana;
    font-size: 2em;
}

#mySubmit {
    font-size: 1em;
    background-color: hsl(216, 100%, 65%);
    color: white;
    border-radius: 5px;
}

#mySubmit:hover {
    background-color: hsl(216, 100%, 75%);
}